@model ECommerce.Models.User
  
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ECommerce</h1>
    @if (Model != null && !string.IsNullOrEmpty(Model.Company.Logo))
    {
        <h2 > @Model.Company.Name </h2>
        <img src="@Url.Content(Model.Company.Logo)" alt="Image"
             style="width:200px; height:200px; max-width:100%;height: auto;" />
    }
</div>



